<html>
<head>
<title>Insert title here</title>
</head>
<body>
  <div>
    <h1>Test Page</h1>
    this is a test............
  </div>
  <div>
    <h2>Access Token</h2>
    <span th:text="${accessToken}">access token value</span>
  </div>
  <div th:if="${testNotification}">
    <h2>Test Notification</h2>
    <span th:text="${testNotification}">notification message</span>
  </div>
  <div th:if="${testUser}">
    <h2>Test User Info</h2>
    <span th:text="${testUser}">user information</span>
  </div>
</body>
</html>